.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.break {
  flex-basis: 100%;
}

footer {
  position: absolute;
  bottom: 1rem;
  font-size: 0.75rem;
  color: #ddd;
}
