.duplicates {
  display: flex;
}

.error {
  color: rgb(180, 0, 0);
}

.results {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.item {
  display: flex;
  padding: 0.65rem;
  margin: 0.5rem;
  border: 1px solid #c9c9c9;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.icon {
  align-self: center;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border: 0.1rem solid #4527a0;
  border-radius: 0.2rem;
}

.duplicates button .loader {
  margin-left: 0.5rem;
  width: 1.25rem;
  animation: spin 3s infinite;
}
